$small-size: 12px;
$medium-size: 16px;
$large-size: 24px;
$extra-large-size: 32px;
$h1-size: 80px;
$h2-size: 50px;

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $extra-large-size;
}

h4 {
  font-size: $large-size;
}

h5 {
  font-size: $medium-size;
}

h6 {
  font-size: $small-size;
}

p {
  font-size: $medium-size;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 16px;
  overflow: hidden;
}

// make each of them responsive using media queriess
@media (max-width: 768px) {
  h1 {
    font-size: $h2-size;
  }

  h2 {
    font-size: $extra-large-size;
  }

  h3 {
    font-size: $large-size;
  }

  h4 {
    font-size: $medium-size;
  }

  h5 {
    font-size: $small-size;
  }

  h6 {
    font-size: $small-size;
  }

  p {
    font-size: $small-size;
  }
}
